.h1{
    font-size: 3rem;
}
.bg-primary{
    background-color: $primary !Important;
}
.text-primary{
    color: $primary;
}
.bg-light-primary{
    background: $bg-primary-light;
}
.border-solid{
    border: 1px solid $primary !important;
}
.color-black{
    color: #000 !important;
}
@font-face {
    font-family: poppins;
    src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: jost;
    src: url('/fonts/jost/static/Jost-Medium.ttf');
}
.font-jost{
    font-family: jost !important;
}
.max-width{
    max-width: 360px;
}
.mt-n100{
    margin-top: -100px;
}
body{
    font-family: poppins;
}
.font-poppins{
    font-family: poppins;
}
.btn-signup{
    width:180px;
}
.features-img{
    background-image: url('/images/images-home/fEATURE.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 100%;
}
.btn-dark-secondary{
    background: $dark-blue;
    color: #fff;
}
.bg-primary-light{
    background: $primary-light !important;
}
.border-primary{
    border: 1px dashed $primary !important;
}
.fieldset-padding{
    padding: 1.4rem !important;
}
// fieldset

    fieldset.scheduler-border {
        border: 1px solid #f6f6f6 !important;
        padding: 0 0em 0em 1.2em;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        margin-top: -15px;
        background-color: white;
        color: black;
    }
.scheduler-border {

    .form-control{
        border: 0px !important;
        padding-top: 0.25rem !important;
    }

    .form-control:focus{
        box-shadow: none !important;
    }
    .input-group-text{
        padding-top: 0.25rem !important;
    }
    textarea{
        border: 0px !important;
    }
}
// fieldset ends


header{
    nav{
        button:last-child{
            &:hover{
                background-color: #fff !important;
                color: $primary;
            }
        }
    }
}
.bg-topnav{
    background: $dark-blue;
}
.bg-cards-section{
    background: url('/images/images-home/union-waves.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
// home page css

.images-nav-tabs {
    .nav-link {
        background-color: rgba(163, 163, 163, 0.12) !important;
        border: none !important;
        padding: 12px !important;
        margin-right: 14px;
        margin-bottom: 12px;
        max-width: 122px;
        min-width: 120px;
        min-height :100px;
        border-radius: 9px;
    }
    img{
        margin: 0 auto !important;
    }
    .nav-link.active {
        background: #E8604C !important;
        color: #fff;
    }
}
@mixin background-text{
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    max-width: 100%;
}
.bg-process-img {
    background-image: url('/images/images-home/process.png');
    @include background-text;
}
.privacy-policy{
    background-image: url('/images/privacy-policy/privacy.png');
    @include background-text;
}
.privacy-policy-page{
    background-image: url('/images/privacy-policy/mirror.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-text{
    background-image: url('/images/contact-images/contact.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.help-text{
    background-image: url('/images/help-images/help.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.contact-btn {
    button {
        min-width: 160px !important;
    }
}
.contact-page{
    background-image: url('/images/contact-images/maps.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rounded-icon{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left:-23px;
}
.card-pinned-bottom-start {
bottom: -1rem !important;
}
@mixin cards-background{
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x:93%;
    background-position-y:93%;
    background-size: auto;
    min-height:350px;
}
@mixin background-properties{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-card-1{
    background-image: url('/images/images-home/number-1.png');
    @include cards-background;
}
.bg-card-2{
    background-image: url('/images/images-home/number-2.png');
    @include cards-background;
}
.bg-card-3{
    background-image: url('/images/images-home/number-3.png');
    @include cards-background;
}
.padding-top{
    padding-left: 3.5rem;
    padding-right:3.5rem
}

.footer{
    background-color: $dark-blue !important;
    color: #fff;
}
.accordion-section{
    /* Custom style */
    .accordion-button::after {
        background-image: url("/images/privacy-policy/icon-plus.png");
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("/images/privacy-policy/icon-minus.png");
    }
    .accordion-button:not(.collapsed){
        border: none !important;
        color: #000 !important;
        border-radius: 10px;
        background: none;
    }
    .accordion-button{
        border: 2px solid rgba(232, 96, 76, 0.21);
        border-radius: 5px !important;
        background: $bg-primary-light;
    }
    .accordion-item{
        border: 0px solid #fff !important;
    }
    .bottom-box-shadow{
        box-shadow: 0px 11px 24px rgba(135, 135, 135, 0.11);
    }
}
.mt-80{
    margin-top: 80px;
}
.help-page-tabs{
    .card{
        min-width: 230px;
        max-width: 230px;
    }
    .nav-tabs{
        .nav-link{
            border-bottom: 0px solid !important;
            &.active{
                .card-border {
                                   border: 1px solid $primary !important;
                }
            }
        }
    }
}
.bg-arrow{
    margin-top: -127px;
    margin-right: -113px;
}
.contact-us-form{
    input{
        outline: 0 !important;
    }
}
.navbar:not(.splitted-content-navbar) .navbar-nav .nav-link{
    padding: 0.75rem !important;
}
#header {
    .nav-link {
        &.active {
            border-bottom: 2px solid $primary;
            padding-left: 0.75rem !important;
        }
    }
}
.bg-image{
    background: url("/images/login-images/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width:1400px){
    .rounded-icon{
        margin-left: -30px;
        padding: 14px !important;
    }
    .padding-top{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

}
@media only screen and (min-width:992px) and (max-width:1200px) {
    .help-page-tabs .card {
        min-width: 190px !important;
        max-width: 190px !important;
    }


}
@media only screen and (max-width:991px){
    .rounded-icon {
        width: 10%;
        margin: 0 auto !important;
    }
    .padding-top{
        padding-top: 6rem !important;
    }
}
@media only screen and (max-width:767px) {
    .rounded-icon {
        width: 15%;
        margin: 0 auto !important;
    }
    .padding-top{
        padding-top: 6rem !important;
    }
}
@media only screen and (max-width:576px){
    .bg-process-img{
    background-size: contain !important;
    }
    .rounded-icon{
        width:16%;
        margin: 0 auto !important;
    }
    .padding-top{
        padding-top: 6rem !important;
    }
    .images-nav-tabs .nav-link{
        width:80px !important;
        font-size: 8px !important;
        min-height:65px !important;
        min-width: revert !important;
    }
    .navbar-expand-lg .navbar-nav-wrap-secondary-content{
        margin-left: 0 !important;
    }
}
@media only screen and (max-width:430px){
    .rounded-icon{
        width:15%;
        margin: 0 auto !important;
    }
    .category-cards {
        .nav.nav-tabs{
            justify-content: center !important;
        }
        .nav-link {
            padding: 4px !important;
            img{
                width: 25px !important;
            }
        }
    }
    .help-page-tabs {
      .nav-tabs{
          .nav-item {
              .nav-link {
                  padding:0px !important;
                  width: 85px !important;
                  font-size: 10px;
              }
              .card{
                  min-height: 75px;
                  min-width: revert !important;
                  max-width: revert !important;
                  .card-body{
                      padding: 12px !important;
                  }
              }
          }
      }
    }
}
@media only screen and (max-width:375px){
    .rounded-icon{
        width:16%;
        margin: 0 auto !important;
    }
    .images-nav-tabs .nav-link{
        width:72px !important;
        font-size: 8px !important;
    }
}

// bulletin page css
.bulletin-image{
    background-image: url('/images/bulletin-images/bulletin.png');
   @include  background-properties;
    height:400px;
}
.category-cards{

    .card{
        border: none !important;
        box-shadow: 0px 11px 24px rgba(168, 168, 168, 0.1);
        margin: 30px 0px !important;
    }

    .green-shadow{
        box-shadow:0px 20px 40px rgba(1, 182, 130, 0.15) !important;
    }
    .orange-dots{
        background-image: url('/images/bulletin-images/Combined\ Shape.png');
        background-size: contain;
        background-position: top right;
    }


    .vertical-dots{
        margin-top: -600px;
        margin-left: -36px;
    }
    .bg-dots-orange{
        margin-bottom: -257px;
        margin-right: 131px;
    }
    .cards-dots-green{
        margin-top: -55px;
        margin-left: -367px;
    }
    .text-index{
        z-index: 2;
    }
    .featured-btn{
        font-size: 11px;
        background: #E8604C;
        color: #fff;
        padding: 6px 14px;
        border-radius: 6px;
    }

    .nav-link{
        background-color: rgba(163, 163, 163, 0.12) !important;
        border: none !important;
        padding: 18px;
        margin-right: 14px;
        &.active{
            background:rgba(232, 96, 76, 0.06) !important;
        img{
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
        }
        }

    }
}

.bg-waves{
    background-image: url('/images/bulletin-images/Union.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-map{
    background-image: url('/images/blog-images/maps.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fs-50{
    font-size: 50px;
}
// bulletin page css ends

// blog page css
.blog-image{
    background: url("/images/blog-images/blog.png");
    @include  background-properties;
    height: 600px;
}
.blog-text{
        background-image: url('/images/blog-images/blog-text.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        max-width: 100%;
}
.margin-negative{
    margin-top: -60px;
}
.ul-card-footer {
    li {
        p {
            padding-left: 20px;
        }
    }
}
// blog page css ends
