
.bg-primary{
    background-color: $primary !important;
}
i:hover{
    color: $primary !important;
}
.text-primary{
    color: $primary;
}
.bg-light-primary{
    background: $bg-primary-light;
}
.color-secondary{
    color: #606368;;
}
.border-solid{
    border: 1px solid $primary !important;
}
.bg-dark-blue{
    background-color: $dark-blue;
}
.bg-darkGrey{
    background-color: #DADADA;;
}
.bg-lightGrey{
    background-color: #f5f3f3 !important;
}
.color-black{
    color: #000 !important;
}
body{
    font-family: poppins;
}
.hero-text{
    font-size: 2.8rem;
}
.bg-skin{
    background-color: rgba(210, 206, 205, 0.58);
    &:hover{
        background-color: rgb(155 153 152 / 58%);
        color: #000;
    }
}
@font-face {
    font-family: poppins;
    src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('/fonts/Poppins-Bold.ttf');
}
.poppins-bold{
    font-family: poppins-bold;
}
@font-face {
    font-family: vintage-clothes;
    src: url('/fonts/vintage/vintage-clothes.otf');
}
@font-face {
    font-family: jost;

    src: url('/fonts/jost/static/Jost-Medium.ttf');
}
.font-jost{
    font-family: jost !important;
}
.font-vintage{
    font-family: vintage-clothes;
    font-weight: 500;
}

.max-width{
    max-width: 360px;
}
.mt-n100{
    margin-top: -121px;
    transform: rotate(14deg);
}
.feature-cards {
    .card {
        min-height: 580px;
    }
}

.quote-card{
    .avatar {
        width:5rem !important;
        height: 5rem !important;
    .avatar-status{
        background: #000;
        padding: 10px;
    }
    }
    .bi.bi-quote{
        font-size: 18px;
        color: #fff;
    }
}

.font-poppins{
    font-family: poppins;
}
.btn-signup{
    width:180px;
}
.features-img{
    background-image: url('/images/images-home/feature.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
}

.features-img-2{
    background-image: url('/images/images-home/feature-2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 47px;
}
.text-content{
    display:none;
}
.text-content.show{
    display:block; /* P.S: Use `!important` if missing `#content` (selector specificity). */
}
.margin-tb{
    margin-top: 45px;
    margin-bottom: 90px;
}
.hero-image{
    background-image: url('/images/images-home/hero-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
.h-20{
    height: 20px;
}
.mt-70{
margin-top: 70px;
}
.fw-600{
    font-weight: 600;
}
.min-height{
    min-height: 875px;
}
.padding-y{
    padding: 110px 0px;
}
.section-min-h{
    min-height: 1000px;
    display: flex;
    align-items: center;
}
.btn-dark-secondary{
    background: $dark-blue;
    color: #fff;
}
.bg-primary-light{
    background: $primary-light !important;
}
.border-dashed{
    border: 1px dashed $primary !important;
}
.fieldset-border{
    border: 1px solid #1A395A !important;
}
fieldset{
        border: 1px solid #BEC4C8 !important;
        i{
        font-size: 19px;
    }
}


.social-img{
    background-image: url('/images/images-home/Social.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:50px;
}
.bg-social-feed{
    background: url('/images/images-home/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color:$dark-blue;
}
.pt-55{
    padding-top: 55px;
}

header{
    nav{
        button:last-child{
            &:hover{
                background-color: #fff !important;
                color: $primary;
            }
        }
    }

}
.navbar:not(.splitted-content-navbar) .navbar-nav .nav-link{
    padding: 0.6rem 0.6rem 0 0.6rem !important;
}
.bg-topnav{
    background: $dark-blue;
}
.topnav{
    a:hover{
        color: $primary !important;
    }
}
.bg-cards-section{
    background: url('/images/images-home/union-waves.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: $dark-blue;
}
// home page css

.images-nav-tabs {
    .nav-link {
        background-color:#fff;
        border: 1px solid #D3D2D2 !important;
        padding: 8px !important;
        margin-right: 7px;
        margin-bottom: 12px;
        max-width: 105px;
        min-width: 105px;
        min-height :115px;
        font-size: 10px;
        border-radius: 9px;
    }
    img{
        margin: 0 auto !important;
    }
    .nav-link.active {
        background: #E8604C !important;
        color: #fff;
        font-weight: 300 !important;
        box-shadow: 0px 18px 25px rgba(0, 0, 0, 0.15);
        img{
            filter: brightness(0) invert(1);
        }
    }
}
@mixin background-text{
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    max-width: 100%;
}
.bg-process-img {
    background-image: url('/images/images-home/process.svg');
    @include background-text;
    background-size: contain !important;
}
.privacy-policy{
    background-image: url('/images/privacy-policy/Privacy.svg');
    background-size:contain !important;
    @include background-text;
    height: 40px;
}
.bg-crystals{
    background-image: url('/images/privacy-policy/mirror.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-text{
    background-image: url('/images/contact-images/contact.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
}
.help-text{
    background-image: url('/images/help-images/help.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.btn-min-160 {
        min-width: 160px !important;
}
.contact-page{
    background-image: url('/images/contact-images/maps.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rounded-icon{
    box-shadow:0px 2px 8px rgba(135, 135, 135, 0.15);;
    margin-left:-40px;
}
.min-h-200 {
    p {
        min-height: 200px;
    }
}
.card-pinned-bottom-start {
    bottom: -1.2rem !important;
}
@mixin cards-background{
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x:93% !important;
    background-position-y:93% !important;
    background-size: auto;
    min-height:300px;
}
@mixin background-properties{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-card-1{
    background-image: url('/images/images-home/number-1.svg');
    @include cards-background;

}
.bg-card-2{
    background-image: url('/images/images-home/number-2.svg');
    @include cards-background;
}
.bg-card-3{
    background-image: url('/images/images-home/number-3.svg');
    @include cards-background;
}
.color-dark{
    color: rgba(0, 0, 0, 1);
}
.form-check-input:checked[type=checkbox] {
    background-image: url("/images/images-home/tick.svg") !important;
}
.form-check-input:checked {
    background-color: #fff;
    border: 2px solid #e8604c;
}
.padding-top{
    padding-left: 4rem;
    padding-right:3.5rem
}
.navbar-toggler{
    font-size: 27px !important;
    color: #6c6c6c !important;
}
.footer-text{
        a {
            &:hover {
                color: $primary !important;
            }
        }
    }

// select2 css starts
.select2-container{
    width: 100% !important;
}
.select2-container .select2-selection--single{
    height: 55px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 52px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 55px !important;
    right: 8px !important;
}
// select2 ends
.section-padding{
    padding-top: 70px;
}
.accordion-section{
    /* Custom style */

    .accordion-button::after {
        background-image: url("/images/privacy-policy/icon-plus.svg");
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("/images/privacy-policy/icon-minus.svg");
    }
    .accordion-button:not(.collapsed){
        border: none !important;
        color: #000 !important;
        border-radius: 10px;
        background: none;
    }
    .accordion-button{
        border: 2px solid rgba(232, 96, 76, 0.21);
        border-radius: 5px !important;
        background: $bg-primary-light;
    }
    .accordion-item{
        border: 0px solid #fff !important;
        .card-body{
            word-wrap: break-word !important;
            p{
                line-height: 30px;
                color: rgba(42, 51, 66, 1);
            }
        }
    }
    .bottom-box-shadow {
        box-shadow: 0px 11px 24px rgba(135, 135, 135, 0.11);
    }

}
.mt-80{
    margin-top: 80px;
}
.help-page-tabs{
    p {
        color: #6D6D6D !important;
    }
        .card{
        min-width: 230px;
        max-width: 230px;
        .card-body{
            min-height: 220px;
            display: grid;
            align-items: center;
        }
    }
    .nav-tabs{
        .nav-link{
            border-bottom: 0px solid !important;
            &.active{
                .card-border {
                    border: 1px solid $primary !important;
                }
            }
        }
    }
}
.bg-arrow{
    margin-top: -158px;
    margin-right: -113px;
}
.contact-us-form{
    input{
        outline: 0 !important;
    }
}

.navbar:not(.splitted-content-navbar) .navbar-nav .nav-link{
    //padding: 0.75rem !important;
}
#header {
    .nav-item{
        position: relative;
    .nav-link {
        &.active:after {
            padding-left: 0.6rem !important;
            color: #000 !important;
            font-weight: 800 !important;
            position: absolute;
            /* bottom: -5px; */
            left: -1px;
            right: 0;
            top: 33px;
            margin: 0px auto;
            width: 56%;
            height: 2px;
            content: "";
            background-color: $primary;
        }
    }
    }
}
.bg-image{
    background: url("/images/login-images/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// Dropdown items
.t-dropdown-block .text {
    display: table;
    margin: 20px auto;
}
.t-dropdown-block .t-dropdown-block {
    width: 200px;
    height: 28px;
    margin: 20px auto;
    position:relative
}

.t-dropdown-block .t-dropdown-list {
    display: none;
    background-color: #FFF;
    border: 1px solid #DDD;
    z-index: 10;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
    list-style: none;
    margin: 0;
    padding: 0;
    height: 150px;
    overflow: auto;
    position: absolute;
    margin-top: 10px;
}

.t-dropdown-block .t-dropdown-item {
    padding: 5px 20px;
    margin: 0;
    cursor: pointer;
}

.t-dropdown-block .t-dropdown-item:hover {
    background-color: transparent;
}
.t-dropdown-block input{
    outline: none !important;
}
.t-dropdown-block .t-dropdown-select {
    border: 1px solid #DDD;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    box-sizing: content-box;
}

.t-dropdown-block .t-dropdown-input {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0 3px 0 10px;
    box-sizing: border-box;
}

.t-dropdown-block .t-select-btn {
    background-image: url(https://cdn4.iconfinder.com/data/icons/ui-indicatives/100/Indicatives-26-128.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px 7px;
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid #DDD;
}

.t-dropdown-block .t-select-btn:active {
    background-color: #F1F1F1;
}


// Dropdown end
@media only screen and (max-width:1400px){
    .rounded-icon{
        margin-left: -30px;
        padding: 14px !important;
    }
    .padding-top{
        padding-left: 2.4rem !important;
        padding-right: 1.5rem !important;
    }

}

@media only screen and (min-width:1200px) and (max-width:1570px) {
    .row-max-width{
        margin: 0 auto;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px) {
    .help-page-tabs .card {
        min-width: 190px !important;
        max-width: 190px !important;
    }
    .feature-cards {
        .card{
            min-height: revert !important;
        }
    }
    .btn-text{
        font-size: 9px !important;
    }
    .images-nav-tabs {
        .nav-link {
            max-width: 87px !important;
            min-width: 85px !important;
            margin-right: 6px !important;
            padding: 7px !important;
            font-size: 9px !important;
        }
    }
    .section-min-h{
        min-height: 800px !important;
    }
    .min-height{
        min-height: 575px !important;
    }
}
@media only screen and (max-width:991px){
    .help-page-tabs{
        .card{
            .card-body{
                min-height: revert !important;
            }
        }
    }
    .rounded-icon {
        width: 30%;
        margin: -30px auto !important;
    }

    .padding-top{
        padding-top: 3rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .fs-12{
        font-size: 13px !important;
    }
    .privacy-policy{
        background-position: center !important;
    }
    .help-page-tabs {
        .nav-tabs {
            .nav-item {
                .nav-link {
                    font-size: 13px;
                }
                .card {
                    max-height: 155px;
                    min-width: 120px;
                    max-width: 120px;
                }
            }
        }
    }
    .bg-process-img{
        background-position: center !important;
    }
    .margin-top{
        //margin-top: 50px;
    }
   .mobile-cards{
       margin:117px 0px 70px 0px  !important;
       .bg-card-1{
           min-height: 255px !important;
       }
       .bg-card-2{
           min-height: 255px !important;
       }
       .bg-card-3{
           min-height: 255px !important;
       }
   }

    #header {
        .nav-item{
            .nav-link{
                padding-left: 0px !important;
                &.active:after{
                    margin: revert !important;
                    width: 7% !important;
                }
            }
        }
    }
    .padding-y{
        padding: 40px 0px 0px 0px !important;
    }
    .mobile-cards{
        .card{
            .card-body{
                .card-title{
                    font-size: 15px !important;
                }
            }
        }
    }
}
@media only screen and (max-width:767px) {
    .hero-image{
        background-image: url('/images/images-home/hero-image-overlay.png') !important;
    }
    .select2-container{
    width: 100% !important;
    }
    .rounded-icon {
        width: 35%;
        margin: -31px auto !important;
    }
    .padding-top{
        padding-top: 3rem !important;
    }
    .max-width{
        max-width: 100% !important;
    }
    .help-page-tabs {
        .nav-tabs{
            .nav-item {
                .nav-link {
                    padding:0px !important;
                    width: 85px !important;
                    font-size: 9px !important;
                    margin-left: 14px;
                }
                .card{
                    max-height: 100px;
                    min-width: revert !important;
                    max-width: revert !important;
                    .card-body{
                        padding: 12px !important;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
    .category-cards {
        .nav.nav-tabs{
            justify-content: center !important;
        }
        .nav-link {
            padding:8px !important;
            img{
                width: 25px !important;
            }
        }
    }
    .section-padding{
        padding-top: 40px !important;
    }
    .mobile-cards{
        margin: 70px 0px;

        .card{
            .card-body{
                .card-title{
                    font-size: 13px !important;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
@media only screen and (max-width:576px){
    .bg-process-img{
        background-size: contain !important;
    }
    .rounded-icon{
        width:12%;
        margin: -30px auto !important;
    }
    .padding-top{
        padding-top: 6rem !important;
    }
    .images-nav-tabs {
        .nav-link {
            width: 80px !important;
            font-size: 8px !important;
            min-height: 100px !important;
            min-width: revert !important;
        }
    }
    .navbar-expand-lg .navbar-nav-wrap-secondary-content{
        margin-left: 0 !important;
    }
    .nav-buttons {
        a{
            min-width: 100px !important;
        }
    }
    .help-page-tabs {
        .nav-tabs {
            .nav-item {
                .nav-link {
                    margin-left: 10px !important;
                }

                .card {
                    .card-body {
                        img {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
    .btn-min-160 {
            display: block;
            width: 100%;
    }
    .feature-cards {
        .card {
            min-height:revert !important;
        }
    }
    .margin-mobile-card{
        margin: 50px 0px !important;
    }
}
@media only screen and (max-width:430px){
    .rounded-icon{
        width:15%;
        margin: -26px auto !important;
    }
    .category-cards {
        .nav.nav-tabs{
            justify-content: center !important;
        }
        .nav-link {
            padding: 6px !important;
            img{
                width: 19px !important;
            }
        }
    }
    .help-page-tabs {
        .nav-tabs {
            .nav-item {
                .nav-link{
                    width: 81px !important;
                    margin-left: 2px !important;
                }
            }
        }
    }
    .images-nav-tabs {
        .nav-link {
            width: 78px !important;
            font-size: 9px !important;
            margin-right: 5px !important;
            padding: 3px !important;
            min-height: 98px !important;
        }
    }
}
@media only screen and (max-width:375px){
    .rounded-icon{
        width:16%;
        margin: -24px auto !important;
    }
    .images-nav-tabs .nav-link{
        width:71px !important;
        font-size: 8px !important;
        margin-right: 3px !important;
        padding: 2px !important;
        min-height : 92px !important;
    }
    .category-cards
    {
        .nav-link{
            margin-right: 10px !important;
        }
    }
    .help-page-tabs {
        .nav-tabs {
            .nav-item {
                .nav-link{
                    width: 72px !important;
                    margin-left: 2px;
                    font-size: 8px !important;
                }
                .card {
                    max-height: 85px;
                    .card-body {
                        padding: 10px !important;
                        img {
                            width: 35px;
                        }
                    }
                }
            }
        }
    }
.footer-text{
    p{
        font-size: 10px !important;
    }
    i{
        font-size: 14px !important;
    }
}
}

// bulletin page css
.bulletin-image{
    background-image: url('/images/bulletin-images/bulletin.png');
    @include  background-properties;
    height:435px;
}
.category-cards{

    .card{
        border: none !important;
        box-shadow: 0px 11px 24px rgba(168, 168, 168, 0.1);
        margin: 30px 0px !important;
    }

    .green-shadow{
        box-shadow:0px 20px 40px rgba(1, 182, 130, 0.15) !important;
    }
    .orange-dots{
        background-image: url('/images/bulletin-images/Combined\ Shape.png');
        background-size: contain;
        background-position: top right;
    }


    .vertical-dots{
        margin-top: -600px;
        margin-left: -36px;
    }
    .bg-dots-orange{
        margin-bottom: -257px;
        margin-right: 131px;
    }
    .cards-dots-green{
        margin-top: -55px;
        margin-left: -367px;
    }
    .text-index{
        z-index: 2;
    }
    .featured-btn{
        font-size: 11px;
        background: #E8604C;
        color: #fff;
        padding: 6px 14px;
        border-radius: 6px;
    }

    .nav-link{
        background-color: rgba(163, 163, 163, 0.12) !important;
        border: none !important;
        padding: 18px;
        margin-right: 14px;
        &.active{
            background:rgba(232, 96, 76, 0.06) !important;
            img{
                filter: grayscale(78%) brightness(73%) sepia(68%) hue-rotate(-50deg) saturate(672%) contrast(0.8);
            }
        }

    }
}

.bg-waves{
    background-image: url('/images/bulletin-images/Union.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-map{
    background-image: url('/images/blog-images/maps.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fs-50{
    font-size: 50px;
}
// bulletin page css ends

// blog page css
.blog-image{
    background: url("/images/blog-images/blog.png");
    @include  background-properties;
    height: 600px;
}
.blog-text{
    background-image: url('/images/blog-images/blog-text.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 100%;
}
.margin-negative{
    margin-top: -60px;
}
.ul-card-footer {
    li {
        p {
            padding-left: 20px;
        }
    }
}
// blog page css ends
